---
import { Icon } from "astro-icon/components";

export type FolderStructureType = {
    name: string;
    highlighted?: boolean;
    folders?: FolderStructureType[];
};

interface Props {
    containerClass?: string;
    folderStructure: FolderStructureType[];
}

const { folderStructure, containerClass } = Astro.props;
---

<ul class={containerClass}>
    {
        folderStructure.map((folder) => {
            const isFolder = folder.folders;

            return (
                <li class="ml-6">
                    <span class="flex items-center gap-1.5">
                        <Icon class="shrink-0" name={isFolder ? "folder" : "file"} />
                        <span class:list={["truncate", folder.highlighted && "font-bold"]}>
                            {folder.name}
                        </span>
                    </span>
                    {folder.folders && <Astro.self folderStructure={folder.folders} />}
                </li>
            );
        })
    }
</ul>
