---
import { render } from "astro:content";
import { getAllArticles } from "@data/articles";
import Layout from "@ui/layout/Layout.astro";

export async function getStaticPaths() {
    const articles = await getAllArticles();
    return articles.map((article) => ({
        params: { slug: article.id },
        props: article,
    }));
}

const article = Astro.props;
const { Content } = await render(article);
---

<Layout>
    <a href="/">Home</a>
    <Content />
</Layout>
