---
import Divider from "@components/atoms/divider.astro";
import NewsletterForm from "@components/newsletter/newsletter-form.astro";
import type { CollectionEntry } from "astro:content";
import PageHeader from "../../layouts/page-header.astro";
import ArticleCard from "./article-card.astro";

interface Props {
    title: string;
    pageDescription: string;
    articles: CollectionEntry<"blog">[];
}
---

<PageHeader title={Astro.props.title}>{Astro.props.pageDescription}</PageHeader>
<ul class="mb-10 flex flex-col gap-9">
    {
        Astro.props.articles.map((article, index) => (
            <li
                style={{ animationDelay: `${index * 100}ms` }}
                class="opacity-0 motion-safe:translate-y-10 motion-safe:animate-fade-in-up motion-reduce:opacity-100"
            >
                <ArticleCard {article} />
            </li>
        ))
    }
</ul>
<Divider classes="mb-6" />
<NewsletterForm />
