---
import type { CollectionEntry } from "astro:content";
import { BlogType } from "content.config";

interface Props {
    article: CollectionEntry<"blog">;
}

const isDev = Astro.props.article.data.category === BlogType.dev;
const tags = Astro.props.article.data.tags.slice(0, 4);
---

<div
    class:list={[
        "mb-8 flex items-end px-5 py-5 sm:px-6 sm:py-6 h-32 sm:h-48",
        isDev ? "bg-dev" : "bg-beyond",
    ]}
>
    {
        tags.length > 0 && (
            <div class="flex flex-wrap gap-x-4 gap-y-1">
                {tags.map((tag) => (
                    <span class="font-mono text-xs tracking-widest uppercase text-white/80 dark:text-white/70">
                        {tag}
                    </span>
                ))}
            </div>
        )
    }
</div>
