---
import type { CollectionEntry } from "astro:content";
import { BlogType } from "content/config";

interface Props {
    article: CollectionEntry<"blog">;
}

const gradientDireaction = () => {
    const direction = [
        "bg-gradient-to-tr",
        "bg-gradient-to-tl",
        "bg-gradient-to-br",
        "bg-gradient-to-bl",
    ];

    return direction[Math.floor(Math.random() * direction.length)];
};

const colorDev = [
    "from-gradient-dev5 to-gradient-dev4",
    "from-gradient-dev1 to-gradient-dev2",
    "from-gradient-dev5 to-gradient-dev6",
    "from-gradient-dev1 to-gradient-dev3",
    "from-gradient-dev2 to-gradient-dev5",
    "from-gradient-dev4 to-gradient-dev6",
];

const colorBeyond = [
    "from-gradient-beyond1 to-gradient-beyond2",
    "from-gradient-beyond2 to-gradient-beyond5",
    "from-gradient-beyond3 to-gradient-beyond6",
    "from-gradient-beyond4 to-gradient-beyond6",
    "from-gradient-beyond5 to-gradient-beyond6",
    "from-gradient-beyond6 to-gradient-beyond1",
];

const gradientFromColor = () => {
    const color = Astro.props.article.data.category === BlogType.dev ? colorDev : colorBeyond;
    return color[Math.floor(Math.random() * color.length)];
};

const gradientClasses = `${gradientDireaction()} ${gradientFromColor()}`;
---

<div
    class={`flex h-60 sm:h-80 mb-8 flex-col overflow-x-hidden items-center relative justify-center rounded-xl text-center font-semibold ${gradientClasses}`}
>
    <div class="noise absolute inset-0 rounded-xl opacity-60 brightness-100 contrast-150"></div>
    <div class="duck absolute inset-0 rounded-xl bg-cover bg-center bg-no-repeat opacity-30"></div>
    {
        Astro.props.article.data.tags.slice(0, 3).map((tag, index) => (
            <span
                style={{ animationDelay: `${index * 200}ms` }}
                class="z-10 text-5xl text-white/80 opacity-0 selection:text-white/80 motion-safe:translate-y-10 motion-safe:animate-fade-in-up motion-reduce:opacity-100 sm:text-6xl dark:text-white/60 selection:dark:text-white/60"
            >
                {tag}
            </span>
        ))
    }
</div>

<style>
    .noise {
        background-image: url("/noise.svg");
    }

    .duck {
        background-image: url("/duck.png");
    }
</style>
