---
import { Icon } from "astro-icon/components";
---

<p
    class="text-font-color-muted flex items-center gap-3 opacity-0 transition-all duration-300 ease-in-out group-hover:opacity-100"
    aria-label="Read article"
>
    <span class="transition-transform duration-300">Read</span>
    <Icon
        name="arrow-right"
        class="group-hover:animate-gentle-slide h-4 w-4 transition-all duration-300 group-hover:translate-x-1"
    />
</p>
