---
import { Icon } from "astro-icon/components";
---

<p
    class="flex items-center gap-1 font-serif text-sm text-font-color-muted opacity-0 transition duration-500 ease-in group-hover:opacity-100"
>
    Read article
    <Icon name="arrow-right" />
</p>
