---
interface Props {
    classes?: string;
    variant?: "default" | "inline";
}

const { variant = "default", classes } = Astro.props;
const description =
    variant === "inline"
        ? "No spam, just the article in your inbox!"
        : "No spam, no advertisement, just the article that you can read right from your inbox!";
---

<div
    class:list={[
        classes,
        "not-prose flex flex-col",
        variant === "inline" && "items-center text-center sm:justify-center",
        variant === "default" && "sm:flex-row sm:items-center sm:gap-6",
    ]}
>
    <div>
        <h2 class="not-prose text-font-color mb-2 text-lg font-semibold sm:text-2xl">
            Subscribe to the newsletter
        </h2>
        <p class="not-prose text-font-color mb-8 text-sm text-pretty sm:text-pretty">
            {description}
        </p>
    </div>
    <form
        class:list={[
            "flex shrink-0 flex-col gap-4",
            variant === "inline" && "sm:w-1/2",
            variant === "default" && "sm:w-1/2",
        ]}
        id="newsletter-form"
    >
        <input
            required
            type="email"
            name="email"
            autocomplete="email"
            class="text-font-color ring-accent focus:ring-accent block w-full min-w-72 rounded-md border-0 text-sm ring-1 ring-inset placeholder:text-zinc-400 focus:ring-2 focus:ring-inset dark:bg-zinc-800 dark:ring-zinc-700"
            placeholder="Join 300+ web developers"
        />
        <button
            class:list={[
                "bg-accent w-full rounded px-3.5 py-2.5 text-sm font-medium text-zinc-600 shadow transition-shadow duration-150 hover:shadow-md",
                variant === "inline" && "w-full self-center",
                variant === "default" && "self-end sm:w-fit",
            ]}
            type="submit">Subscribe</button
        >
    </form>
</div>
<div
    class:list={[
        "animate-all mt-2 text-left opacity-0 duration-150 ease-in-out",
        variant === "inline" && "text-center",
    ]}
    id="submit-message"
>
</div>

<script>
    function newsletterFormHandling() {
        const form = document.getElementById("newsletter-form") as HTMLFormElement;
        const submitMessage = document.getElementById("submit-message");

        const handleEmailError = async (res: Response) => {
            const { message } = await res.json();
            if (!submitMessage) {
                return;
            }

            submitMessage.textContent = message ?? "An error occured with your email";
            submitMessage.classList.add("opacity-100", "text-error");
            submitMessage.classList.remove("text-success", "opacity-0");
        };

        const handleSuccess = () => {
            if (!submitMessage) {
                return;
            }

            submitMessage.textContent = "🦆 Please check your inbox to confirm your email";
            submitMessage.classList.add("opacity-100", "text-success");
            submitMessage.classList.remove("text-error", "opacity-0");
        };

        const handleForm = async (e: any) => {
            e.preventDefault();
            const formData = new FormData(form);

            const email = formData.get("email");
            if (email) {
                const res = await fetch("/api/newsletter", {
                    method: "POST",
                    body: JSON.stringify({
                        email,
                    }),
                });

                if (res.ok) {
                    form.reset();
                    handleSuccess();
                } else {
                    handleEmailError(res);
                }
            }
        };

        form?.addEventListener("submit", handleForm);

        document.addEventListener(
            "astro:before-swap",
            () => {
                form?.removeEventListener("submit", handleForm);
            },
            { once: true },
        );
    }

    newsletterFormHandling();
    document.addEventListener("astro:after-swap", newsletterFormHandling);
</script>
