---
import { getFormattedDate } from "@utils/date";
import type { CollectionEntry } from "astro:content";

interface Props {
    article: CollectionEntry<"articles">;
}

const { article } = Astro.props;
---

<header class="mb-10">
    <div
        class="text-muted mb-2 flex items-center gap-3 font-mono text-xs tracking-wider uppercase"
    >
        <p>
            {getFormattedDate(article.data.publicationDate)}
        </p>
        <p>·</p>
        <p>{article.data.readingTime} min read</p>
    </div>

    <h1
        class="font-serif text-3xl leading-tight font-bold tracking-tighter text-pretty"
    >
        {article.data.title}
    </h1>
</header>
