@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-Regular-WebXL.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-RegularItalic-WebXL.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-Medium-WebXL.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-MediumItalic-WebXL.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-Bold-WebXL.woff2") format("woff2");
    font-weight: 700;
    font-style: Bold;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-BoldItalic-WebXL.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
