@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-Regular-WebS.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-RegularItalic-WebS.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-Medium-WebS.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-MediumItalic-WebS.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-Bold-WebS.woff2") format("woff2");
    font-weight: 700;
    font-style: Bold;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Works";
    src: url("/fonts/SuisseWorks-BoldItalic-WebS.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
