---
import ColorItem from "./color-item.astro";

const colors = [
    { className: "bg-dev", text: "dev" },
    { className: "bg-beyond", text: "beyond" },
    { className: "bg-accent", text: "accent" },
    { className: "bg-success", text: "success" },
    { className: "bg-error", text: "error" },
];
---

<section
    class="my-12 flex flex-col gap-10 rounded border bg-white p-4 text-sm dark:border-0 dark:bg-black"
>
    <h2 class="my-0">Colors of the blog</h2>
    <div class="flex flex-wrap gap-3">
        {colors.map(({ className, text }) => <ColorItem className={className}>{text}</ColorItem>)}
    </div>
</section>
