<div
    class="my-12 flex flex-col gap-20 rounded border bg-white p-4 text-font-color dark:border-0 dark:bg-black"
>
    <div>
        <span class="block font-serif text-7xl">Suisse Works</span>
        <span class="font-serif italic">Serif font</span>
    </div>
    <div>
        <span class="block text-right font-sans text-7xl">Open Sans</span>
        <span class="block text-right font-sans italic">Sans-serif font</span>
    </div>
    <div>
        <span class="block font-mono text-7xl">iA Writer Mono</span>
        <span class="font-mono italic">Mono font</span>
    </div>
</div>
