---
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

import MetaPage from "@ui/layout/MetaPage.astro";
import MetaTwitterPage from "@ui/layout/MetaTwitterPage.astro";
import MetaFavicon from "@ui/layout/MetaFavicon.astro";

import Header from "@ui/shared/Header.astro";
import Footer from "@ui/shared/Footer.astro";

import type { ArticleMeta, PageMeta } from "interface";

import "../../global.css";

interface Props {
    pageMeta: PageMeta | ArticleMeta;
}
---

<html lang="en">
    <head>
        <MetaFavicon />
        <MetaPage pageMeta={Astro.props.pageMeta} />
        <MetaTwitterPage pageMeta={Astro.props.pageMeta} />

        <ClientRouter />

        <Font cssVariable="--font-swiss-works" preload />
        <Font cssVariable="--font-berkeley-mono" preload />
    </head>

    <body class="bg-background mx-auto max-w-3xl px-4 antialiased lg:px-0">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
