---
import H1 from "@components/h1.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
import Image from "astro/components/Image.astro";
import { CONFIG } from "const";
import flavien from "../content/assets/flavien_bonvin.png";
---

<PageLayout>
    <SeoPage slot="head" title=`About ${CONFIG.author}` description={CONFIG.description} />
    <H1 classes="font-serif mb-14">Hello, I'm {CONFIG.author}</H1>
    <section class="prose prose-p:font-serif">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorem ipsum
            perspiciatis eligendi odit, quasi omnis nam culpa inventore corporis, voluptatibus
            molestias aperiam libero dolore vitae saepe maxime assumenda reprehenderit. Quisquam,
            similique velit? Perferendis sint nam nulla rerum! Odit sequi ipsum aliquid cupiditate
            repellendus fugit corporis voluptate, suscipit ex rerum cumque, quisquam, optio quis.
            Fugit aliquam pariatur quo iusto voluptatibus. Facilis esse doloremque itaque fuga
            deleniti unde atque quod voluptatum beatae vero cumque reiciendis aut adipisci
            voluptatibus quidem, illum omnis hic! Beatae nobis repellat, harum fugit molestias error
            voluptas consequatur. Aspernatur dolorem voluptatum omnis voluptates nostrum
            reprehenderit, expedita assumenda distinctio enim quasi natus magnam nam consequatur aut
            deleniti ipsa, sint placeat.
        </p>
        <p>
            Enim culpa perspiciatis quo soluta numquam, reprehenderit eaque qui. Est quia maiores id
            excepturi illo omnis, iure, rem molestias nostrum a officiis veniam dolor corrupti
            debitis praesentium eaque eius. Voluptates cumque earum deserunt beatae in veritatis
            natus velit adipisci.
        </p>
        <Image src={flavien} alt="Blog author picture" />
    </section>
</PageLayout>
