---
import H1 from "@components/h1.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
import { CONFIG } from "const";
---

<PageLayout>
    <SeoPage slot="head" title=`About ${CONFIG.author}` description={CONFIG.description} />
    <H1 classes="font-serif">Hello 👋 I'm {CONFIG.author}</H1>
    <section>
        <h2>Hi I'm Flavien</h2>
    </section>
</PageLayout>
