---
import H1 from "@components/h1.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
---

<PageLayout>
    <SeoPage
        slot="head"
        title="About Flavien Bonvin"
        description="My personal blog where I write about software development, and any other topic that spark my interest."
    />
    <H1>Hello 👋 I'm Flavien Bonvin</H1>
    <section>
        <h2>Hi I'm Flavien</h2>
    </section>
</PageLayout>
