---
import Layout from "@ui/layout/Layout.astro";
import { getBeyondArticles } from "@data/articles";

const beyondArticles = await getBeyondArticles();
---

<Layout>
    <h1>Beyond articles</h1>
    <ul>
        {
            beyondArticles.map((item) => (
                <li>
                    <a href={`/articles/${item.id}`}>{item.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
