---
import Layout from "@ui/layout/Layout.astro";
import PageHeader from "@ui/container/PageHeader.astro";

import { getBeyondArticles } from "@data/articles";

const beyondArticles = await getBeyondArticles();
---

<Layout>
    <PageHeader title="Explorations of a developer">
        Life outside of coding. Discover my interest.
    </PageHeader>
    <ul>
        {
            beyondArticles.map((item) => (
                <li>
                    <a href={`/articles/${item.id}`}>{item.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
