---
import Layout from "@ui/layout/Layout.astro";
import PageHeader from "@ui/container/PageHeader.astro";

import { getDevArticles } from "@data/articles";

const devArticles = await getDevArticles();
---

<Layout>
    <PageHeader title="Diving into web dev">
        Exploring web development. Join my journey.
    </PageHeader>
    <ul>
        {
            devArticles.map((item) => (
                <li>
                    <a href={`/articles/${item.id}`}>{item.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
