---
import Layout from "@ui/layout/Layout.astro";
import { getAllArticles } from "@data/articles";

const articles = await getAllArticles();
const articlesLinks = articles.map((article) => article.id);
---

<Layout>
    <ul>
        {
            articlesLinks.map((link) => (
                <li class="font-mono">
                    <a href={`/articles/${link}`}>{link}</a>
                </li>
            ))
        }
    </ul>
</Layout>
