---
import Layout from "@ui/layout/Layout.astro";
import { getAllArticles } from "@data/articles";

const articles = await getAllArticles();
const articlesLinks = articles.map((article) => article.id);
---

<Layout>
    <h1 class="font-serif">Astro</h1>
    <a class="font-serif" href="/dev">Dev articles</a>
    <a class="font-serif" href="/beyond">Beyond articles</a>
    <a class="font-serif" href="/about">About</a>
    <ul>
        {
            articlesLinks.map((link) => (
                <li class="font-mono">
                    <a href={`/articles/${link}`}>{link}</a>
                </li>
            ))
        }
    </ul>
</Layout>
