---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "./article-card.astro";
import H1 from "./h1.astro";

interface Props {
    title: string;
    pageDescription: string;
    articles: CollectionEntry<"blog">[];
}
---

<H1 classes="font-serif mb-2">{Astro.props.title}</H1>
<p class="mb-10 text-pretty font-serif sm:w-5/6 md:w-4/5">{Astro.props.pageDescription}</p>
<section class="flex flex-col gap-8">
    {Astro.props.articles.map((article) => <ArticleCard {article} />)}
</section>
