---
import { getArticleLink, getFormattedDate } from "@helpers/article";
import type { CollectionEntry } from "astro:content";
interface Props {
    article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { title, publicationDate, slug } = article.data;
const formattedTime = getFormattedDate(publicationDate);
---

<a href={getArticleLink(slug)}>
    <article class="mb-16">
        <h2 class="text-2xl font-bold leading-tight tracking-tight sm:w-5/6 md:w-4/5">{title}</h2>
        <time class="font-serif text-lg" datetime={publicationDate}>{formattedTime}</time>
    </article>
</a>
