---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "./article-card.astro";

interface Props {
    title: string;
    articles: CollectionEntry<"blog">[];
}
---

<h1 class="mb-10 text-2xl">{Astro.props.title}</h1>
<section>
    {Astro.props.articles.map((article) => <ArticleCard {article} />)}
</section>
