---
import { getFormattedDate } from "@helpers/article";
import type { CollectionEntry } from "astro:content";
interface Props {
    article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const formattedTime = getFormattedDate(article.data.publicationDate);
---

<header class="mb-10">
    <h1 class="mb-2 text-4xl text-font-color">{article.data.title}</h1>
    <time class="font-serif" datetime={article.data.publicationDate}>{formattedTime}</time>
</header>
