---
import { getArticleLink, getFormattedDate } from "@helpers/article";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { BlogType } from "content/config";
interface Props {
    article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { title, publicationDate, category } = article.data;
const formattedTime = getFormattedDate(publicationDate);
const isHome = Astro.url.pathname === "/";
---

<a href={getArticleLink(article.slug)}>
    <article class="group py-4 sm:w-5/6 md:w-4/5">
        <h2 class="text-xl font-semibold leading-tight tracking-tight">
            {title}
            {
                isHome && (
                    <Icon
                        class="mt-0.5 inline align-top opacity-0 transition-transform duration-500  ease-in-out group-hover:rotate-90 group-hover:opacity-100"
                        name="asterisk"
                        size={18}
                        color={category === BlogType.dev ? "var(--dev)" : "var(--insights)"}
                    />
                )
            }
        </h2>
        <section class="flex items-center gap-3 font-serif">
            <time class="text-font-color-muted" datetime={publicationDate.toDateString()}
                >{formattedTime}</time
            >
            {
                isHome && (
                    <>
                        <span class="text-font-color-muted">•</span>
                        <span
                            class:list={[category === BlogType.dev ? "text-dev" : "text-insights"]}
                        >
                            {category === BlogType.dev ? "dev" : "insights"}
                        </span>
                    </>
                )
            }
        </section>
        <p
            class="flex items-center gap-1 font-serif text-sm text-font-color-muted opacity-0 transition duration-500 ease-in group-hover:opacity-100"
        >
            Read more<Icon name="arrow-right" />
        </p>
    </article>
</a>
