---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "./article-card.astro";
import H1 from "./h1.astro";

interface Props {
    title: string;
    articles: CollectionEntry<"blog">[];
}
---

<H1 classes="font-serif">{Astro.props.title}</H1>
<section>
    {Astro.props.articles.map((article) => <ArticleCard {article} />)}
</section>
