---
import { getArticleLink, getFormattedDate } from "@helpers/article";
import type { CollectionEntry } from "astro:content";
interface Props {
    article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { title, publicationDate, slug } = article.data;
const formattedTime = getFormattedDate(publicationDate);
---

<a href={getArticleLink(slug)}>
    <article class="mb-10">
        <h2 class="text-2xl font-bold md:w-2/3 lg:w-1/2">{title}</h2>
        <time class="font-serif" datetime={publicationDate}>{formattedTime}</time>
    </article>
</a>
