---
import { getFormattedDate } from "@helpers/article";
import type { CollectionEntry } from "astro:content";
import H1 from "./h1.astro";
interface Props {
    article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const formattedTime = getFormattedDate(article.data.publicationDate);
---

<header class="mb-10">
    <H1 classes="text-4xl mb-2 font-sans">{article.data.title}</H1>
    <time class="font-serif" datetime={article.data.publicationDate}>{formattedTime}</time>
</header>
