---
import { PATHS } from "../constants";
import { Icon } from "astro-icon/components";
---

<a href={PATHS.home} class="relative">
    <Icon name="logo" class="logo absolute" width={200} height={22} />
    <Icon name="logo-light" class="logo-light absolute" width={200} height={22} />
</a>

<script>
    import { isDarkMode } from "@helpers/style";

    const setImageSrc = () => {
        const logo = document.querySelector<HTMLImageElement>(".logo");
        const logoLight = document.querySelector<HTMLImageElement>(".logo-light");

        if (isDarkMode()) {
            logo?.style.setProperty("display", "block");
            logoLight?.style.setProperty("display", "none");
        } else {
            logo?.style.setProperty("display", "none");
            logoLight?.style.setProperty("display", "block");
        }
    };

    document.addEventListener("astro:page-load", () => {
        setImageSrc();
    });

    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
        setImageSrc();
    });
</script>
