---
import { PATHS } from "const";
import { Icon } from "astro-icon/components";
---

<a href={PATHS.home} class="h-11 w-11 sm:hidden" aria-label="Back to the homepage">
    <Icon name="logo-dark-small" class="logo-dark absolute" width={44} height={44} />
    <Icon name="logo-light-small" class="logo-light absolute" width={44} height={44} />
</a>
<a href={PATHS.home} class="hidden h-6 w-52 sm:block" aria-label="Back to the homepage">
    <Icon name="logo-dark" class="logo-dark absolute" width={200} height={22} />
    <Icon name="logo-light" class="logo-light absolute" width={200} height={22} />
</a>

<script>
    import { isDarkMode } from "@helpers/style";

    const setImageSrc = () => {
        const logoDark = document.querySelectorAll<HTMLImageElement>(".logo-dark");
        const logoLight = document.querySelectorAll<HTMLImageElement>(".logo-light");

        console.log(isDarkMode());
        if (isDarkMode()) {
            logoDark.forEach((el) => el.style.setProperty("display", "none"));
            logoLight.forEach((el) => el.style.setProperty("display", "block"));
        } else {
            logoDark.forEach((el) => el.style.setProperty("display", "block"));
            logoLight.forEach((el) => el.style.setProperty("display", "none"));
        }
    };

    document.addEventListener("astro:page-load", () => {
        setImageSrc();
    });

    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
        setImageSrc();
    });
</script>
