---
import { PATHS } from "const";

const { pathname } = Astro.url;
const navLinks = [
    {
        href: PATHS.dev,
        text: "Web dev",
    },
    {
        href: PATHS.musing,
        text: "Musing",
    },
    {
        href: PATHS.about,
        text: "About",
    },
];
---

<nav>
    <ul class="flex gap-4">
        {
            navLinks.map(({ href, text }) => (
                <li>
                    <a
                        class:list={[
                            "font-serif text-lg tracking-tight hover:text-font-color-foreground",
                            pathname === href && "text-nav-active",
                        ]}
                        href={href}
                    >
                        {text}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
