---
import { PATHS } from "const";

const { pathname } = Astro.url;
const navLinks = [
    {
        href: PATHS.home,
        text: "Home",
    },
    {
        href: PATHS.dev,
        text: "Web dev",
    },
    {
        href: PATHS.musing,
        text: "Musing",
    },
    {
        href: PATHS.about,
        text: "About",
    },
];
---

<nav>
    <ul class="flex gap-4">
        {
            navLinks.map(({ href, text }) => (
                <li>
                    <a
                        class:list={[
                            "font-serif text-lg tracking-tight",
                            href === PATHS.dev &&
                                pathname.includes(href) &&
                                "font-bold underline decoration-dev",
                            href === PATHS.musing &&
                                pathname.includes(href) &&
                                "font-bold underline decoration-musing",
                            href === PATHS.about &&
                                pathname.includes(href) &&
                                "font-bold underline decoration-accent",
                        ]}
                        href={href}
                    >
                        {text}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
