---
import { PATHS } from "const";

const { pathname } = Astro.url;
const navLinks = [
    {
        href: PATHS.dev,
        text: "Web dev",
        active: "decoration-dev",
    },
    {
        href: PATHS.musing,
        text: "Musing",
        active: "decoration-musing",
    },
    {
        href: PATHS.about,
        text: "About",
        active: "decoration-accent",
    },
];
---

<nav>
    <ul class="flex gap-4">
        {
            navLinks.map(({ href, text, active }) => (
                <li>
                    <a
                        class:list={[
                            "hover:text-font-color-foreground font-serif text-lg tracking-tight",
                            pathname === href && `${active} underline`,
                        ]}
                        href={href}
                    >
                        {text}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
