---
import { Icon } from "astro-icon/components";
---

<div
    class="cursor-pointer font-mono text-font-color hover:text-font-color sm:text-font-color-muted dark:text-background dark:hover:text-background"
>
    <span class="flex items-center gap-1.5 rounded-sm bg-accent px-2 text-xl transition-colors">
        <Icon name="terminal" class="h-4 w-4" />
        Flavien
    </span>
</div>
