---
import { Icon } from "astro-icon/components";
---

<div
    class="text-font-color hover:text-font-color sm:text-font-color-muted dark:text-background dark:hover:text-background cursor-pointer font-mono"
>
    <span class="bg-accent flex items-center gap-1.5 rounded-sm px-2 text-xl transition-colors">
        <Icon name="terminal" class="h-4 w-4" />
        Flavien
    </span>
</div>
