---
import { Icon } from "astro-icon/components";
---

<div class="group w-fit cursor-pointer font-mono">
    <span
        class="flex items-center gap-2 overflow-hidden rounded-sm bg-accent px-2.5 text-xl text-zinc-600"
    >
        <Icon name="terminal" class="h-4 w-4" />
        <span class="sm:group-hover:animate-up-and-reset transition-all duration-200">Flavien</span>
    </span>
</div>
