---
import { Icon } from "astro-icon/components";
---

<div class="cursor-pointer font-mono">
    <span
        class="flex items-center gap-1.5 rounded-sm bg-accent px-2 text-xl text-font-color transition-colors hover:text-font-color sm:text-font-color-muted"
    >
        <Icon name="terminal" class="h-4 w-4" />
        Flavien
    </span>
</div>
