---
import { validateNewsletterSubscription } from "@helpers/newsletterValidation";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
import { ROUTES } from "const";

export const prerender = false;

async function validateSubscription(): Promise<string> {
    try {
        const token = Astro.url.searchParams.get("token") ?? undefined;
        await validateNewsletterSubscription(token);
        return ROUTES.newsletterValidated;
    } catch {
        return ROUTES.error404;
    }
}

// return Astro.redirect(await validateSubscription());
---

<PageLayout>
    <SeoPage
        title="Newsletter validation!"
        description="Please wait while we validate your email address."
    />
    <div class="py-20">
        <h1 class="mb-4 font-serif text-4xl font-bold tracking-tighter sm:text-5xl">
            Validating your email
        </h1>
        <p class="text-font-color-muted font-serif text-sm italic">
            Please wait while we confirm your subscription.
        </p>
    </div>
</PageLayout>
