---
import LinkGhost from "@ui/atoms/LinkGhost.astro";
import Layout from "@ui/layout/Layout.astro";
import type { PageMeta } from "interface";
import PageHeader from "@ui/shared/PageHeader.astro";

const pageMeta: PageMeta = {
    title: "Newsletter | Flavien Bonvin",
    description:
        "Articles on software, and beyond. Delivered straight to your inbox.",
};
---

<Layout pageMeta={pageMeta} hideNewsletter>
    <div class="my-20">
        <p
            class="text-success mb-4 font-mono text-xs tracking-widest uppercase"
        >
            Subscription confirmed
        </p>
        <PageHeader title="Welcome aboard!">
            Articles on software, and beyond. <br /> Delivered straight to your inbox.
        </PageHeader>
        <LinkGhost
            className="border-divider hover:border-focus w-fit border px-4 py-2.5 font-mono text-xs tracking-widest uppercase transition-colors"
            target="_self"
            href="/"
        >
            Back to home
        </LinkGhost>
    </div>
</Layout>
