---
import PageLayout from "@layouts/page-layout.astro";
---

<PageLayout>
    <section class="flex flex-col items-center justify-center">
        <h1 class="mb-12 text-5xl font-bold">Welcome to the club!</h1>
        <p class="mb-2 font-serif">You have successfully subscribed to my newsletter.</p>
        <p class="mb-8 font-serif">Here is a duck for your enjoyment.</p>
        <img src="https://placekitten.com/200/200" alt="A duck" />
    </section>
</PageLayout>
