---
import { validateNewsletterSubscription } from "@helpers/newsletterValidation";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
import { ROUTES } from "const";

export const prerender = false;

async function validateSubscription(): Promise<string> {
    try {
        const token = Astro.url.searchParams.get("token") ?? undefined;
        await validateNewsletterSubscription(token);
        return ROUTES.newsletterValidated;
    } catch {
        return ROUTES.error404;
    }
}

return Astro.redirect(await validateSubscription());
---

<PageLayout>
    <SeoPage
        title="Newsletter validation!"
        description="Please wait while we validate your email address."
    />
    <section class="text-font-color flex flex-col items-center justify-center">
        <h1 class="mb-12 text-5xl font-bold">Validation in progress</h1>
        <p class="mb-2 font-serif">Please wait while we validate your email address.</p>
        <p class="mb-20 font-serif">Here is a duck for your enjoyment.</p>
        <div class="text-accent flex items-center justify-center">
            <p class="absolute text-6xl">🦆</p>
        </div>
    </section>
</PageLayout>
