---
import ColorItem from "./ColorItem.astro";

const colors = [
    { className: "bg-dev", text: "dev" },
    { className: "bg-beyond", text: "beyond" },
    { className: "bg-accent", text: "accent" },
    { className: "bg-error", text: "error" },
    { className: "bg-success", text: "success" },
];
---

<section class="border-divider my-12 flex flex-col gap-6 border p-6 text-sm">
    <p class="text-muted font-mono text-xs tracking-widest uppercase">Colors</p>
    <div class="flex flex-wrap gap-3">
        {
            colors.map(({ className, text }) => (
                <ColorItem className={className}>{text}</ColorItem>
            ))
        }
    </div>
</section>
