---
import { articleCardWidth } from "const";
import Divider from "../atoms/divider.astro";
import H1 from "../atoms/h1.astro";

interface Props {
    title: string;
}
---

<H1 classes="font-serif mb-1 text-4xl">{Astro.props.title}</H1>
<p class=`mb-6 font-sans text-lg font-medium ${articleCardWidth}`><slot /></p>
<Divider variant="light" classes="mb-20" />
