---
import { Icon } from "astro-icon/components";
import { CONFIG } from "const";
import Divider from "../components/atoms/divider.astro";
import ExternalLink from "../components/atoms/external-link.astro";
---

<Divider classes="mb-7" />

<div class="flex gap-2">
    <ExternalLink href={`https://twitter.com/${CONFIG.twitter}`} classes="w-36"
        >Follow me on ğ•</ExternalLink
    >
    <ExternalLink
        href={`${Astro.site}rss.xml`}
        classes="flex justify-center w-36 items-center gap-1"
        ><Icon name="rss" />RSS feed</ExternalLink
    >
</div>
