---
import { Icon } from "astro-icon/components";
import { PATHS } from "const";

const { pathname } = Astro.url;
const navLinks = [
    {
        href: PATHS.dev,
        text: "Dev",
    },
    {
        href: PATHS.beyond,
        text: "Beyond",
    },
    {
        href: PATHS.about,
        text: "About",
    },
];
---

<nav class="w-full py-6 font-mono">
    <ul class="flex items-baseline justify-between">
        <li>
            <a href={PATHS.home}>
                <span
                    class="800 flex items-center gap-2 rounded-sm bg-accent px-2.5 text-xl text-zinc-600"
                >
                    <Icon name="terminal" class="inline-block h-4 w-4" />
                    Flavien</span
                >
            </a>

            <li>
                <ul class="flex gap-4 tracking-tight sm:gap-6">
                    {
                        navLinks.map(({ href, text }) => {
                            return (
                                <li>
                                    <a
                                        class:list={[
                                            "decoration-2 underline-offset-2 hover:underline",
                                            href === PATHS.dev && "decoration-dev",
                                            href === PATHS.beyond && "decoration-beyond",
                                            href === PATHS.about && "decoration-accent",
                                            href === PATHS.dev &&
                                                pathname.includes(href) &&
                                                "underline decoration-dev",
                                            href === PATHS.beyond &&
                                                pathname.includes(href) &&
                                                "underline decoration-beyond",
                                            href === PATHS.about &&
                                                pathname.includes(href) &&
                                                "underline decoration-accent",
                                        ]}
                                        href={href}
                                    >
                                        {text}
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </li>
        </li>
    </ul>
</nav>
