---
import Logo from "@components/atoms/logo.astro";
import { ROUTES } from "const";

const getIsActive = (href: string) => {
    return Astro.url.pathname.includes(href);
};
---

<nav class="text-font-color w-full py-6 font-mono">
    <ul class="flex items-center justify-between">
        <li>
            <a href={ROUTES.home}>
                <Logo />
            </a>
            <li>
                <ul class="flex gap-3 tracking-tight sm:gap-6">
                    <li>
                        <a
                            href={ROUTES.dev}
                            class:list={[
                                "decoration-dev hover:text-font-color decoration-2 underline-offset-2 transition-colors hover:underline",
                                getIsActive(ROUTES.dev)
                                    ? "text-font-color underline"
                                    : "text-font-color-muted",
                            ]}>Dev</a
                        >
                    </li>
                    <li>
                        <a
                            href={ROUTES.beyond}
                            class:list={[
                                "decoration-beyond hover:text-font-color decoration-2 underline-offset-2 transition-colors hover:underline",
                                getIsActive(ROUTES.beyond)
                                    ? "text-font-color underline"
                                    : "text-font-color-muted",
                            ]}>Beyond</a
                        >
                    </li>
                    <li>
                        <a
                            href={ROUTES.about}
                            class:list={[
                                "decoration-accent hover:text-font-color decoration-2 underline-offset-2 transition-colors hover:underline",
                                getIsActive(ROUTES.about)
                                    ? "text-font-color underline"
                                    : "text-font-color-muted",
                            ]}>About</a
                        >
                    </li>
                </ul>
            </li>
        </li>
    </ul>
</nav>
