---
import "@fontsource/ia-writer-mono";
import "@fontsource/open-sans/latin-300-italic.css";
import "@fontsource/open-sans/latin-300.css";
import "@fontsource/open-sans/latin-400-italic.css";
import "@fontsource/open-sans/latin-400.css";
import "@fontsource/open-sans/latin-500-italic.css";
import "@fontsource/open-sans/latin-500.css";
import "@fontsource/open-sans/latin-600-italic.css";
import "@fontsource/open-sans/latin-600.css";
import "@fontsource/open-sans/latin-700-italic.css";
import "@fontsource/open-sans/latin-700.css";
import "@fontsource/open-sans/latin-800-italic.css";
import "@fontsource/open-sans/latin-800.css";

import Footer from "@layouts/footer.astro";
import Navigation from "@layouts/navigation.astro";

import { ViewTransitions } from "astro:transitions";
import { CONFIG } from "const";
import "../styles/fonts.css";
import "../styles/theme.css";
import FaviconLayout from "./favicon-layout.astro";
---

<!doctype html>
<html lang="en" class="relative w-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content=`${CONFIG.author}` />
        <slot name="head" />

        <FaviconLayout />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title=`${CONFIG.author}`
            href={`${Astro.site}rss.xml`}
        />

        <ViewTransitions />

        <meta name="theme-color" content="var(--background)" />
    </head>

    <body class="mx-auto max-w-2xl bg-background px-4 text-font-color antialiased sm:px-0">
        <header class="mb-10 md:mb-24">
            <Navigation />
        </header>

        <main class="mb-14 w-full grow">
            <slot />
        </main>
        <footer class="flex w-full flex-col gap-1 pb-20">
            <Footer />
            <script
                is:inline
                data-domain="flavienbonvin.com"
                data-api="/plausible/api/event"
                src="/plausible/js/script.js"></script>
        </footer>
    </body>
</html>
