---
import Footer from "@components/page/footer.astro";
import Navigation from "@components/page/navigation.astro";
import "@fontsource-variable/space-grotesk";
import "@fontsource/bitter/latin.css";
import "@fontsource/ia-writer-mono";

import { ViewTransitions } from "astro:transitions";
import { CONFIG } from "const";
---

<!doctype html>
<html lang="en" class="relative">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content=`${CONFIG.author}` />
        <slot name="head" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title=`${CONFIG.author}`
            href={`${Astro.site}rss.xml`}
        />

        <ViewTransitions />

        <style>
            :root {
                --background: oklch(98.21% 0 0);
                --font-color: oklch(31.03% 0 102.07);
                --font-color-muted: oklch(61.21% 0 102.07);
                --dev: oklch(78.89% 0.348 231.09);
                --beyond: oklch(75.91% 0.227 32.82);
                --accent: oklch(55.38% 0.14 179.65);
                --interactive: oklch(91.38% 0 102.07);
                --interactive-active: oklch(78.45% 0 102.07);
                --dev1: oklch(78.89% 0.348 231.09);
                --dev2: oklch(82% 0.448 216.09);
                --dev3: oklch(72% 0.348 221.09);
                --dev4: oklch(78% 0.248 211.09);
                --dev5: oklch(80% 0.348 251.09);
                --dev6: oklch(74% 0.448 261.09);
                --beyond1: oklch(75.91% 0.227 32.82);
                --beyond2: oklch(70% 0.327 37.82);
                --beyond3: oklch(80% 0.127 27.82);
                --beyond4: oklch(75% 0.227 17.82);
                --beyond5: oklch(78% 0.127 47.82);
                --beyond6: oklch(73% 0.327 52.82);
            }

            @media (prefers-color-scheme: dark) {
                :root {
                    --background: oklch(20.21% 0 0);
                    --font-color: oklch(88.53% 0 0);
                    --font-color-muted: oklch(69.31% 0 0);
                    --dev: oklch(58.69% 0.744 208.67);
                    --beyond: oklch(65.91% 0.2 43.19);
                    --accent: oklch(53.72% 0.134 179.65);
                    --interactive: oklch(39.66% 0 102.07);
                    --interactive-active: oklch(48.28% 0 102.07);
                    --dev1: oklch(58.69% 0.744 208.67);
                    --dev2: oklch(70% 0.5 210);
                    --dev3: oklch(48% 0.8 210);
                    --dev4: oklch(60% 0.5 220);
                    --dev5: oklch(65% 0.2 220);
                    --dev6: oklch(60% 0.5 230);
                    --beyond1: oklch(65.91% 0.2 43.19);
                    --beyond2: oklch(70% 0.3 40);
                    --beyond3: oklch(70% 0.1 45);
                    --beyond4: oklch(65% 0.25 50);
                    --beyond5: oklch(69% 0.15 38);
                    --beyond6: oklch(72% 0.25 65);
                }
            }
        </style>

        <meta name="theme-color" content="var(--background)" />
    </head>

    <body
        class="mx-auto flex h-screen max-w-2xl flex-col bg-background px-8 text-font-color md:px-0"
    >
        <header class="mb-16 md:mb-24">
            <Navigation />
        </header>

        <main class="mb-14 w-full grow">
            <slot />
        </main>
        <footer class="flex w-full flex-col gap-1 pb-20">
            <Footer />
            <script
                is:inline
                data-domain="flavienbonvin.com"
                data-api="/plausible/api/event"
                src="/plausible/js/script.js"></script>
        </footer>
    </body>
</html>
