---
import Footer from "@components/footer.astro";
import Logo from "@components/logo.astro";
import Navigation from "@components/navigation.astro";
import "@fontsource-variable/open-sans";
import "@fontsource/tinos/latin.css";
import "@fontsource/tinos/greek.css";
import "@fontsource/ia-writer-mono";

import { ViewTransitions } from "astro:transitions";
import { CONFIG } from "const";
---

<!doctype html>
<html lang="en" class="relative left-[calc((100vw-100%)/2)]">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="theme-color" content="#1C262F" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content=`${CONFIG.author}` />
        <slot name="head" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title=`${CONFIG.author}`
            href={`${Astro.site}rss.xml`}
        />

        <ViewTransitions />

        <script is:inline data-domain="flavienbonvin.com" src="https://plausible.io/js/script.js"
        ></script>

        <style>
            :root {
                --background: lch(98% 0 0);
                --font-color: lch(20% 0 0);
                --font-color-muted: lch(55% 0 0);
                --dev: lch(75% 100 253);
                --musing: lch(70% 90 40);
                --accent: lch(50% 50 180);
            }

            @media (prefers-color-scheme: dark) {
                :root {
                    --background: lch(15% 0 0);
                    --font-color: lch(95% 0 0);
                    --font-color-muted: lch(68.36% 0 0);
                    --dev: lch(54% 130 253);
                    --musing: lch(58% 75 50);
                    --accent: lch(48% 48 180);
                }
            }
        </style></head
    >

    <body class="mx-auto flex h-screen max-w-2xl flex-col bg-background text-font-color">
        <header class="flex flex-row items-center gap-10 px-6 py-6 sm:py-10 md:gap-8 md:px-0">
            <Logo />
            <Navigation />
        </header>

        <main class="mt-14 grow px-8 md:px-0">
            <slot />
        </main>
        <footer class="flex flex-col gap-1 px-8 pb-20 pt-8 md:px-0">
            <Footer />
            <!-- This ensures that tinos 700 is loaded on app launch -->
            <p class="invisible h-0 font-serif font-bold">Flavien Bonvin</p>
        </footer>
    </body>
</html>
