---
import H1 from "@components/atoms/h1.astro";

interface Props {
    title: string;
}
---

<div class="mb-12">
    <H1 classes="font-serif font-bold text-4xl sm:text-5xl tracking-tighter mb-3 text-pretty leading-tight">
        {Astro.props.title}
    </H1>
    <p class="font-serif text-sm text-font-color-muted italic">
        <slot />
    </p>
</div>
