---
import Footer from "@components/footer.astro";
import Navigation from "@components/navigation.astro";
import "@fontsource/ia-writer-mono";
import "@fontsource-variable/space-grotesk";
import "@fontsource/bitter/latin.css";

import { ViewTransitions } from "astro:transitions";
import { CONFIG } from "const";
---

<!doctype html>
<html lang="en" class="relative left-[calc((100vw-100%)/2)]">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content=`${CONFIG.author}` />
        <slot name="head" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title=`${CONFIG.author}`
            href={`${Astro.site}rss.xml`}
        />

        <ViewTransitions />

        <style>
            :root {
                --background: oklch(98.21% 0 0);
                --font-color: oklch(31.03% 0 102.07);
                --font-color-muted: oklch(61.21% 0 102.07);
                --dev: oklch(78.89% 0.348 231.09);
                --beyond: oklch(75.91% 0.227 32.82);
                --accent: oklch(55.38% 0.14 179.65);
                --interactive: oklch(91.38% 0 102.07);
                --interactive-active: oklch(78.45% 0 102.07);
            }

            body {
                background-image: url("/noise.png");
            }

            @media (prefers-color-scheme: dark) {
                :root {
                    --background: oklch(26.72% 0 102.07);
                    --font-color: oklch(95.69% 0 102.07);
                    --font-color-muted: oklch(72.72% 0 102.07);
                    --dev: oklch(58.69% 0.744 208.67);
                    --beyond: oklch(64.91% 0.174 43.19);
                    --accent: oklch(53.72% 0.134 179.65);
                    --interactive: oklch(39.66% 0 102.07);
                    --interactive-active: oklch(48.28% 0 102.07);
                }
            }
        </style>

        <meta name="theme-color" content="var(--background)" />
    </head>

    <body class="flex h-screen flex-col bg-background text-font-color">
        <header class="nav-gradient">
            <Navigation />
        </header>

        <main class="mx-auto mb-14 mt-16 w-full max-w-2xl grow px-8 md:mt-24 md:px-0">
            <slot />
        </main>
        <footer class="mx-auto flex w-full max-w-2xl flex-col gap-1 px-8 pb-20 md:px-0">
            <Footer />
            <!-- This ensures that bitter 700 is loaded on app launch -->
            <p class="invisible h-0 font-serif font-bold">Flavien Bonvin</p>

            <script
                is:inline
                data-domain="flavienbonvin.com"
                src="https://plausible.io/js/script.js"></script>
        </footer>
        <style>
            .nav-gradient {
                background: var(--background);
                background: linear-gradient(180deg, var(--background) 0%, transparent 60%);
            }
        </style>
    </body>
</html>
