---
import Footer from "@components/footer.astro";
import Logo from "@components/logo.astro";
import Navigation from "@components/navigation.astro";
import "@fontsource-variable/open-sans";
import "@fontsource/tinos";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="relative left-[calc((100vw-100%)/2)]">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="theme-color" content="#1C262F" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Flavien Bonvin"
            href={`${Astro.site}rss.xml`}
        />
        <ViewTransitions />

        <meta name="generator" content={Astro.generator} />
        <title>Flavien Bonvin</title>
        <script defer data-domain="flavienbonvin.com" src="https://plausible.io/js/script.js"
        ></script>
    </head>

    <style>
        :root {
            --background: 0 100% 100%;
            --font-color: 208.4, 25.3%, 14.7%;
            --font-color-foreground: 0.58, 6%, 40%;
            --nav-active: 0.58, 6%, 40%;
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --background: 208.4, 25.3%, 14.7%;
                --font-color: 222, 11%, 91%;
                --font-color-foreground: 60, 11%, 98%;
                --nav-active: 27, 90%, 88%;
            }
        }
    </style>

    <body class="mx-auto flex h-screen max-w-2xl flex-col bg-background text-font-color">
        <header
            class="flex flex-col justify-between gap-10 px-6 py-6 sm:flex-row sm:py-10 md:gap-0 md:px-0"
        >
            <Logo />
            <Navigation />
        </header>

        <main class="mt-10 grow px-8 md:px-0">
            <slot />
        </main>
        <footer class="px-8 py-8 md:px-0">
            <Footer />
        </footer>
    </body>
</html>
