---
import Footer from "@layouts/footer.astro";
import Navigation from "@layouts/navigation.astro";
import "@fontsource-variable/space-grotesk";
import "@fontsource/ia-writer-mono";

import { ViewTransitions } from "astro:transitions";
import { CONFIG } from "const";
import FaviconLayout from "./favicon-layout.astro";
import "../styles/fonts.css";
import "../styles/theme.css";
---

<!doctype html>
<html lang="en" class="relative">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content=`${CONFIG.author}` />
        <slot name="head" />

        <FaviconLayout />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title=`${CONFIG.author}`
            href={`${Astro.site}rss.xml`}
        />

        <ViewTransitions />

        <meta name="theme-color" content="var(--background)" />
    </head>

    <body
        class="mx-auto flex h-screen max-w-2xl flex-col bg-background px-6 text-font-color antialiased md:px-0"
    >
        <header class="mb-16 md:mb-24">
            <Navigation />
        </header>

        <main class="mb-14 w-full grow">
            <slot />
        </main>
        <footer class="flex w-full flex-col gap-1 pb-20">
            <Footer />
            <script
                is:inline
                data-domain="flavienbonvin.com"
                data-api="/plausible/api/event"
                src="/plausible/js/script.js"></script>
        </footer>
    </body>
</html>
