---
import Footer from "@layouts/footer.astro";
import Navigation from "@layouts/navigation.astro";

import { ClientRouter } from "astro:transitions";
import { CONFIG } from "const";
import "../styles/theme.css";
import "../styles/fonts.css";
import "../styles/code.css";
import FaviconLayout from "./favicon-layout.astro";

interface Props {
    hideFooter?: boolean;
}

const { hideFooter = false } = Astro.props;
---

<!doctype html>
<html lang="en" class="relative w-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:site_name" content=`${CONFIG.author}` />
        <slot name="head" />

        <FaviconLayout />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title=`${CONFIG.author}`
            href={`${Astro.site}rss.xml`}
        />

        <ClientRouter />

        <meta name="theme-color" content="var(--background)" />
    </head>

    <body class="text-font-color bg-background mx-auto max-w-2xl px-4 antialiased sm:px-4 md:px-0">
        <header class="mb-10 md:mb-24">
            <Navigation />
        </header>

        <main class="mb-14 w-full grow">
            <slot />
        </main>
        <footer class="flex w-full flex-col gap-1 pb-20">
            {!hideFooter && <Footer />}
            <script
                is:inline
                defer
                data-domain="flavienbonvin.com"
                data-api="/plausible/api/event"
                src="/plausible/js/script.js"></script>
        </footer>
    </body>
</html>
