---
import Logo from "@components/logo.astro";
import Navigation from "@components/navigation.astro";
import "@fontsource-variable/open-sans";
import "@fontsource/tinos";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Flavien Bonvin"
            href={`${Astro.site}rss.xml`}
        />

        <meta name="generator" content={Astro.generator} />
        <title>Flavien Bonvin</title>
    </head>
    <body class="flex h-screen flex-col bg-background text-font-color">
        <header class="flex justify-between p-6 sm:p-10">
            <Logo />
            <Navigation />
        </header>

        <main class="grow">
            <slot />
        </main>

        <footer>footer</footer>
    </body>
</html>
