---
import Logo from "@components/logo.astro";
import Navigation from "@components/navigation.astro";
import "@fontsource-variable/open-sans";
import "@fontsource/tinos";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Flavien Bonvin"
            href={`${Astro.site}rss.xml`}
        />

        <meta name="generator" content={Astro.generator} />
        <title>Flavien Bonvin</title>
    </head>
    <body class="mx-auto flex h-screen max-w-2xl flex-col bg-background text-font-color">
        <header
            class="flex flex-col justify-between gap-10 px-6 py-6 sm:flex-row sm:gap-0 sm:px-0 sm:py-10"
        >
            <Logo />
            <Navigation />
        </header>

        <main class="mt-10 grow px-8 md:px-0">
            <slot />
        </main>
    </body>
</html>
