---
export const prerender = false;

import PageLayout from "@layouts/page-layout.astro";
import { actions, isActionError } from "astro:actions";

const result = Astro.getActionResult(actions.subscribeNewsletter);
const actionError = isActionError(result?.error) ? result.error.message : false;
const actionSuccess = result?.data?.success;
console.log({ actionError, actionSuccess, result });
---

<PageLayout hideFooter>
    <form method="post" action={actions.testAction}>
        <button type="submit">Click me</button>
    </form>
    {actionSuccess && <p>Success!</p>}
    {actionError && <p>Error: {actionError}</p>}
</PageLayout>
